<div class='o-grid__col o-grid__col--4-4-s o-grid__col--2-4-m o-grid__col--1-3-l c-post-card-wrap js-post-card-wrap {{#is 'home'}} {{#if @first}} c-post-card-wrap--first {{/if}} {{/is}}'>
  <div class='c-post-card {{#is 'home'}} {{#if @first}} c-post-card--first {{/if}} {{/is}}'>

    <div class='c-post-card__media'>
      <a href='{{ url }}' class='js-fadein c-post-card__image' style='background-image: url({{ feature_image }})' aria-label='{{ title }}'>
        {{#if featured}}
        <span title='{{t "Featured Post" }}'>
          <span class='c-post-card--featured__icon' data-icon='ei-star' data-size='s'></span>
        </span>
        {{/if}}
      </a>
    </div>

    <div class='c-post-card__meta'>
      {{#primary_author}}
        <a class='c-post-card__author' href='{{ url }}' title='{{ name }}'>{{ name }} - </a>
      {{/primary_author}}

      <div class='c-post-card__date'>
        <time datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMMM YYYY' }}</time>
      </div>

      <h2 class='c-post-card__title'>
        <a href='{{ url }}' class='c-post-card__link'>{{ title }}</a>
      </h2>
    </div>

  </div>
</div>