{{!< default}}

{{#post}}

<div class='c-post-hero' style='background-image: url({{ feature_image }})'></div>

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--2-3-m'>
      <article class='c-{{ post_class }}'>

        <time class='c-post__date' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMM YYYY' }}</time>

        <h1 class='c-post__title'>{{ title }}</h1>

        <div class='c-content'>
          {{ content }}
        </div>

        {{#if access}}
          {{#if tags}}
            <div class='c-tags'>
              {{ tags separator='' }}
            </div>
          {{/if}}

          <div class='o-grid'>
            <div class='o-grid__col o-grid__col--full'>
              {{> share }}
            </div>
          </div>

          <hr>
        {{/if}}

        {{#unless @member}}
          {{#if access}}
            {{> post-subscribe }}
          {{/if}}
        {{/unless}}

        {{#if access}}
          {{#primary_author}}
            <div class='c-author'>

              {{#if profile_image}}
                <img class='c-author__img' src='{{ profile_image }}' alt='{{ name }}'>
              {{/if}}

              <div class='c-author__body'>
                <h3 class='c-author__name'>
                  <a href='{{ url }}'>{{ name }}</a>
                </h3>

                {{#if bio}}
                  <p class='c-author__bio'>{{ bio }}</p>
                {{/if}}

                <ul class='c-author-links o-plain-list'>
                  {{#if twitter}}
                    <li class='c-author-links__item'>
                      <a href='{{ twitter_url }}' aria-label='Twitter' target='_blank'>
                        <span class='c-author-links__icon' data-icon='ei-sc-twitter' data-size='s'></span>
                      </a>
                    </li>
                  {{/if}}

                  {{#if facebook}}
                    <li class='c-author-links__item'>
                      <a href='{{ facebook_url }}' aria-label='Facebook' target='_blank'>
                        <span class='c-author-links__icon' data-icon='ei-sc-facebook' data-size='s'></span>
                      </a>
                    </li>
                  {{/if}}

                  {{#if website}}
                    <li class='c-author-links__item'>
                      <a href='{{ website }}' aria-label='Website' target='_blank'>
                        <span class='c-author-links__icon' data-icon='ei-link' data-size='s'></span>
                      </a>
                    </li>
                  {{/if}}

                  {{#if location}}
                    <li class='c-author-links__item' aria-label='Location'>
                      <span class='c-author-links__icon' data-icon='ei-location' data-size='s'></span>{{ location }}
                    </li>
                  {{/if}}
                </ul>
              </div>

            </div>
          {{/primary_author}}

          <hr>

          {{> disqus}}
        {{/if}}

        {{#unless access}}
          {{> post-upgrade-cta }}
        {{/unless}}
      </article>

    </div>

    {{/post}}

    <div class='o-grid__col o-grid__col--1-3-m'>
      {{> sidebar }}
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      {{> related-posts}}
    </div>
  </div>
</div>