{{!< default}}

{{#post}}

<div class='c-post-hero' style='background-image: url({{ feature_image }})'></div>

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--2-3-m'>
      <article class='c-{{ post_class }}'>

        <time class='c-post__date' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='DD MMM YYYY' }}</time>

        <h2 class='c-post__title'>{{ title }}</h2>

        <div class='c-content'>
          {{ content }}
        </div>

        {{#if tags}}
          <div class='c-tags'>
            {{ tags separator='' }}
          </div>
        {{/if}}

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--full'>
            {{> share }}
          </div>
        </div>

        <hr>

        {{#if @labs.subscribers }}
          {{> post-subscribe }}
        {{/if}}

        {{> author}}

        <hr>

        {{> disqus}}

      </article>

    </div>

    {{/post}}

    <div class='o-grid__col o-grid__col--1-3-m'>
      {{> sidebar }}
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      {{> related-posts}}
    </div>
  </div>
</div>